.h1-contact {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 64px;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #202020;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.form-control {
  border: 2px solid #202020;
  background-color: transparent;
  height: 55px;
  width: 600px;
  border-radius: 5px;
  color: #202020;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.form-control-message {
  border: 2px solid #202020;
  background-color: transparent;
  height: 225px;
  width: 600px;
  border-radius: 5px;
  color: #202020;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.form-control-message:focus {
  border: none;
  outline: none;
  border: 2px solid #eaf8bf;
  border-style: inherit;
  background-color: transparent;
  height: 225px;
  width: 600px;
  border-radius: 5px;
  padding-left: 1rem;
}

.form-control:focus {
  border: none;
  outline: none;
  border: 2px solid #eaf8bf;
  border-style: inherit;
  background-color: transparent;
  height: 55px;
  width: 600px;
  border-radius: 5px;
  padding-left: 1rem;
}

input::placeholder {
  color: #202020;
}

textarea::placeholder {
  color: #202020;
}

.button-form {
  background-color: #202020;
  color: #2ec48f;
  height: 50px;
  width: 190px;
  border-radius: 5px;
}
